* {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.arrow {
    margin-top: 12px;
    margin-left: 24px;
    display: flex;
}

.logo {
    margin-top: 132px;
    margin-left: 187px;
}

.header {
    font-size: 32px;
    height: 39px;
    width: 342px;
    text-align: center;
    margin-left: 41px;
    margin-top: 118px;
    margin-bottom: 20px;
}

.InputBox {
    width: 380px;
    border-radius: 4px;
    background-color: #FAFAFA;
    border: 0;
    margin-left: 24px;
    height: 37px;
    display: flex;
}

.icon1 {
    margin-left: 11px;
    margin-top: 11px;
    position: absolute;
}

.Input {
    background-color: #FAFAFA;
    height: 37px;
    border: 0;
    width: 380px;
    padding-left: 32px;
    border: 4px;
}

.Input:focus {
    border: black solid;
}

.password {
    margin-top: 21px;
}

.passwordInput {
    margin-top: 2px;
}

.label {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.checkbox {
    margin-left: 149px;
    margin-top: 60px;
}

.box {

    width: 14px;
    height: 14px;
}

.buttun {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 8px;
    color: white;
    position: absolute;
    width: 380px;
    height: 47px;
    left: calc(50% - 380px/2);
    bottom: 32px;

    /* Theme/Dark */

    background: #212529;
    opacity: 0.65;

    border: 1px solid #212529;
    border-radius: 30px;
}

.icon2 {
    margin-top: 11.5px;
    position: absolute;
    margin-left: 353px;
}

.erorSpace {
    width: 210px;
    height: 20px;
    margin-left: 25%;
    margin-top: 30px;
    color: red;
    align-items: center;
    display: none;
    position: fixed;
}